:root {
  /* Colours */
  --color-bg: light-dark(#2d5391, #353535); /* page background /*

  /* Header */
  --color-head-bg: #ff4b00;

  /* Logotype */
  --color-logotype-bg: light-dark(#000000, #fff);
  --color-text-logotype: #fffae2;
  --font-logotype-size: 2rem;

  /* Global menu */
  --color-menu-bg: light-dark(#6f90eb, #353535);
  /* Links */
  --color-link-bg: #78766e;
  --color-link-hover: #fff; /* used */
  --color-link-active: #99958f; /* used */
  --border-radius-links: 1px;

  /* Headlines og rubrik */
  --font-h1-size: 2rem;
  --font-sub1-size: 2rem;
  --font-h2-size: 1rem;
  --font-h3-size: 1rem;
  --color-headline-bg: #000000;
  --color-headline-text-page: #fffae2;

  /* Tekst */
  --color-text: #000;
  --color-text-inverted: #fffae2;

  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 10px;

  /* Cards */
  --color-card-bg: light-dark(#ffffff, #8d8d8d);
  --color-cta-card-bg: light-dark(#ff4b00, #d1a0a0);
  /* news-cards */
  --color-news-bg: light-dark(#fffae2, #8d8d8d);
  --color-news-bg-inverted: light-dark(#dbe2f5, #b5b5b5);
  --color-cta-newscard-bg: #ffa680;
  --color-cta-newscard-bg-inverted: light-dark(#6f90eb, #d1a0a0);

  /* Fonts */
  --font-family-sans: "rubik", ui-sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1.5rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: #676161;
  --color-infobox-1-bg: #cfcec6;
  --color-infobox-2-bg: #969995;
}

html.dark {
  color-scheme: dark;
}
