html {
  color-scheme: light;
  font-family: var(--font-family-sans);
  color: var(--color-text);
  background-color: var(--color-bg);
}
html.dark {
  color-scheme: dark;
}
header {
  height: min-content;
}

#main-disclamer {
  height: 225px;
  background-color: rgb(97, 97, 173);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2rem;
  padding-bottom: 2%;
  margin-bottom: var(--margin-head-bottom);
}

#main-disclamer-content {
  display: flex;
  column-gap: 1rem;
}

main section {
  padding: 20px;
  border-radius: var(--border-radius);
}

h1 {
  font-size: var(--font-h1-size);
  font-weight: var(--font-weight-bold);
  color: var(--color-text-inverted);
  margin: 5px 0;
  line-height: 1.3rem;
  text-align: left;
}

#instruction h1,
#register h1 {
  margin: 40px 0 20px 0;
  padding: 15px 30px;
  background-color: var(--color-head-bg);
  font-size: var(--font-h2-size);
}

#instruction p {
  grid-column: 1/-1;
  margin-bottom: 20px;
  font-size: var(--font-h2-size);
  line-height: 1.5rem;
}

.sub {
  font-size: var(--font-sub1-size);
  font-weight: var(--font-weight-light);
  color: var(--color-text-inverted);
}

h2 {
  font-size: var(--headline2-size);
}

h3 {
  font-size: var(--headline3-size);
}

main > h1 {
  width: calc(80% - 6rem);
}

/* NAVIGATION STRUCTURES */
header > nav {
  height: 100%;
  background-color: var(--color-menu-bg);
}

nav ul {
  list-style: none;
}

a {
  font-family: var(--font-family-sans);
}

nav a {
  text-decoration: none;
  color: var(--color-text);
}

/* Måske skal du lave en ny regel for logotype-wrapper, når du har lavet din logotype */
#logotype-wrapper {
  background-color: #287cbb;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 3.6rem;
}

#logotype-wrapper > a {
  color: var(--color-text-logotype);
  font-size: var(--font-logotype-size);
  font-weight: var(--font-weight-medium);
  width: max-content;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  height: 100%;
}

#logotype-wrapper img {
  height: 3rem; /* Fits within 3.6rem wrapper */
  width: auto;
  display: block;
}
#logotype-wrapper > a:hover {
  background-color: #287cbb; /* Same as wrapper */
}

/* Global menu */
header nav li a {
  margin: 1.5rem;
  background-color: var(--color-link-bg);
  color: var(--color-text);
  font-size: var(--followup-text-size);
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius-links);
}

/* Pilen efter menu-tekst */
header > nav li > a:after {
  content: " \2192";
}

/* Global menu hover effekt - Lav den om til det, du synes */
nav a:hover {
  background-color: var(--color-link-hover);
}

nav a:active {
  background-color: var(--color-link-active);
}

/* FOOTER */
footer a {
  font-size: 0.7rem;
}

/*dark mode toggle switch*/
.darkmode input[type="checkbox"] {
  display: none;
}

.darkmode {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 34px;
  margin: 0 1.5rem;
}

.darkmode label {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ddd;
  transition: 0.4s;
  border-radius: 34px;
  display: flex;
  align-items: center;
  padding: 0 6px;
}

.darkmode label:after {
  content: "☀️";
  position: absolute;
  font-size: 18px;
  left: 8px;
  transition: 0.4s;
}

.darkmode label:before {
  content: "";
  position: absolute;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
  z-index: 1;
}

.darkmode input:checked + label {
  background-color: #333;
}

.darkmode input:checked + label:after {
  content: "🌙";
  left: auto;
  right: 8px;
}

.darkmode input:checked + label:before {
  transform: translateX(36px);
}
